{% extends "main.html" %}
{% block title %}
{% endblock title %}
{% block body %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert-message block-message error">
  <a class="close" href="#">×</a>
  <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
</div>

{% endif %}
{% endwith %}
{% endblock content %}
<div class="container">
<h1 class='text-center'>Register Page </h1>
<form class='form-inline mx-auto' method='POST' action='/register'>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputText">Name</label>
      <input type="text" class="form-control" id="inputText" placeholder="Name" name="name" required>
    </div>
    <div class="form-group col-md-6">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" required>
  </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password" required>
    </div>
  </div>
  </div><br>
  <button type="submit" class="btn btn-primary">SignUP</button>
</form>
</div>



{% endblock body %}